.guide__sections {
    padding-top: 3.75rem;
    padding-bottom: 4.375rem;
}

.guide__sections-grid {
    display: grid;
    grid-template-columns: auto auto;
    grid-row-gap: 2.5rem;
}

.guide__sections-grid_item {
    display: flex;
    justify-content: flex-start;
}

 .guide__sections-grid_item:nth-child(2n) {
    display: flex;
    justify-content: flex-end;
 }