.about__vip {
    padding-top: 3.125rem;
}

.about__vip-wrapper {
    padding-top: 3.125rem;
    padding-bottom: 3.125rem;
    border-top: 1px solid #C5C5C5;
    border-bottom: 1px solid #C5C5C5;
    display: flex;
    flex-direction: row;
}

.about__vip-text {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    border-right: 1px solid #C5C5C5;
}

.about__vip-text_container {
    max-width: 540px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.about__vip-text_vision {
    margin-top: 2.375rem;
}

.about__vip-text h2, .about__vip-team h2 {
    font-family: var(--font-family);
    font-weight: bold;
    font-size: 40px;
    line-height: 42px;
    color: #213479;
}

.about__vip-text p, .about__vip-team_person p {
    font-family: var(--font-family);
    font-size: 20px;
    line-height: 21px;
    text-align: justify;
    color: #7B7B7B;
}

.about__vip-text p {
    margin-top: 1rem;
}

.about__vip-text p:first-child {
    margin-top: 1.75rem;
}

.about__vip-team {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.about__vip-team-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
}

.about__vip-team-container h2 {
    display: flex;
    justify-content: flex-start;
    width: 100%;
}

.about__vip-team_person-wrapper {
    display: flex;
    flex-direction: row;
    margin-top: 1.75rem;
}

.about__vip-team_person img {
    max-width: 240px;
}

.about__vip-team_person h3 {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 24px;
    line-height: 25px;
    color: #213479;
    margin-top: 1.25rem;
}

.about__vip-team_person p {
    margin-top: 0.5rem;
}

.about__vip-team_person-wrapper .about__vip-team_person:last-child {
    margin-left: 3.75rem;
}
