.about__introduce {
    padding-top: 2.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.about__introduce-image {
    max-width: 700px;
    display: flex;
}

.about__introduce-image img {
    width: 100%;
    display: block;
}

.about__introduce p {
    max-width: 429px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    line-height: 21px;
    text-align: justify;
    color: #7B7B7B;
}

