.h247__sidebar {
    position: fixed;
    top: 280px;
    right: 0px;
    z-index: 999;
}

.h247__sidebar-hide {
    height: 260px;
    display: flex;
    flex-direction: row;
    align-content: flex-start;
}

.h247__sidebar_share-btn {
    height: 40px;
    width: 40px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1.25rem;
    background: #4A6BDE;
    box-shadow: 0px 4px 4px rgba(74, 107, 222, 0.4);
    border-radius: 2px 0px 0px 2px;
}

.logoside {
    height: 17px;
    width: 20px;
}

.arrowside {
    width: 11.24px;
    height: 18.2px;
}

.h247__sidebar_social-links {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-between;
    background: #FFFFFF;
    border: 4px solid #4A6BDE;
    box-shadow: 0px 4px 4px rgba(74, 107, 222, 0.4);
    border-radius: 5px 0px 0px 5px;
    padding: 20px 20px;
}

.h247__sidebar_social-links img{
    width: 40px;
    height: 40px;
}



