.h247__footer {
  background: #4a6bde;
}

.h247__footer-wrapper {
  padding-top: 2.7rem;
  padding-bottom: 2.1rem;
  display: flex;
  flex-direction: column;
}

.h247__footer-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.h247__footer-content_info {
  display: flex;
  flex-direction: column;
}

.h247__footer-content_info-name {
  display: flex;
  flex-direction: row;
}

.h247__footer-content_info-name img {
  max-height: 60px;
  max-width: 60px;
  margin-right: 1.8rem;
}

.h247__footer-content_info-name h2 {
  font-family: var(--font-family);
  font-weight: bold;
  font-size: 30px;
  line-height: 31px;
  color: #ffffff;
  max-width: 262px;
}

.h247__footer-content_info-address {
  display: flex;
  flex-direction: column;
  margin-top: 1.5rem;
}

.h247__footer-content_info-address p {
  margin-top: 0.625rem;
  font-family: var(--font-family);
  font-size: 16px;
  line-height: 17px;
  color: #ffffff;
}

.h247__footer-content_info-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.h247__footer-content_info-text h2 {
  font-family: var(--font-family);
  font-weight: bold;
  font-size: 30px;
  line-height: 31px;
  color: #ffffff;
  text-transform: uppercase;
}

.h247__footer-content_info-text p {
  margin-top: 0.75rem;
  font-family: var(--font-family);
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 17px;
  color: #ffffff;
  max-width: 527.52px;
}

.h247__footer-content_info-text_links {
  display: flex;
  flex-direction: row;
  padding-top: 1.478rem;
}

.h247__footer-content_info-text_links a:first-child {
  max-width: 250.57px;
  margin-right: 1.206rem;
  display: flex;
}

.h247__footer-content_info-text_links a:nth-child(2) {
  max-width: 300.13px;
  display: flex;
}

.h247__footer-content_info-text_links a img {
  max-width: 100%;
}

.h247__footer-content_links {
  border-top: 1px solid white;
  margin-top: 2.75rem;
  padding-top: 0.9rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.h247__footer-content_links-social {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.h247__footer-content_links-social a {
  margin-right: 1rem;
}

.h247__footer-content_links-social a img {
  max-width: 20px;
  max-height: 20px;
}

.h247__footer-content_links-text {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.h247__footer-content_links-text a {
  font-family: var(--font-family);
  font-size: 14px;
  line-height: 15px;
  color: #ffffff;
  border-right: 1px solid white;
  padding-right: 0.75rem;
  margin-right: 0.75rem;
}

.h247__footer-content_links-text a:last-child {
  border-right: none;
  padding-right: 0rem;
  margin-right: 0rem;
}
